@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  margin: auto;
  text-align: left;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.notes {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.alert {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

strong {
  margin-right: 1rem;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 850ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 850ms ease-out;
  opacity: 0;
}

.note-exit-active {
  animation: note 1s ease-out forwards;
}

.note-enter-active {
  animation: note 1s ease-in alternate-reverse;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.done {
  text-decoration: line-through;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: row;
}

.nav-item {
  padding: 0.5rem;
}
